#social-media {
    background-color: lightcoral;
}
.media_link {
    padding: 1rem;
    max-width: 14em;
    margin-left: 1rem;
    border: 3px solid blueviolet;
    border-radius: 0.5rem;
}
#poonam{
    background-color: brown;
}